.form-content {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center; 
}

.contact-form {
    max-width: 600px;
    width: 100%; 
    background-color: #beb7c2; /* Warm Taupe */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); 
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #B0A898;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #3B2F2A; /* Espresso Black */
    color: #D8CAB8; /* Warm Taupe */
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
    background-color: #D8CAB8; /* Warm Taupe */
    color: #3B2F2A; /* Espresso Black */
}
